#map {
  width: 100vw;
  height: 100vh;
}

.mycluster {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #3498db;
  color: white;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  margin-top: -20px;
  margin-left: -20px;
}

.popup-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.popup-full-address {
  text-align: center;
}

.leaflet-routing-alternatives-container {
  display: none;
}